{include file="header.html"}
<div id="rightTop">
    <p>{$lang.attr}</p>
    <ul class="subnav">
        <li><a class="btn1" href="index.php?app=attr">{$lang.manage}</a></li>
        <li><!-- {if $attr.attr_id} --><a class="btn1" href="index.php?app=attr&amp;act=add">{$lang.add}</a><!-- {else} --><span>{$lang.add}</span><!-- {/if} --></li>
    </ul>
</div>

<div class="info">
    <form method="post" enctype="multipart/form-data">
        <table class="infoTable">
            <tr>
                <th class="paddingT15">
                    {$lang.attr_name}:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput2" id="attr_name" type="text" name="attr_name" value="{$attr.attr_name|escape}" />                </td>
            </tr>
            <tr>
                <th class="paddingT15">
                    <label for="attr_pid">{$lang.attr_pid}:</label></th>
                <td class="paddingT15 wordSpacing5">
                    <select id="attr_pid" name="attr_pid"><option value="0">{$lang.select_pls}</option>{html_options options=$parents selected=$attr.attr_pid}</select>                </td>
            </tr>
            <tr>
                <th class="paddingT15">
                    {$lang.sort_order}:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="sort_order" id="sort_order" type="text" name="sort_order" value="{$attr.sort_order}" />                </td>
            </tr>
        <tr>
            <th></th>
            <td class="ptb20">
                <input class="formbtn" type="submit" name="Submit" value="{$lang.submit}" />
                <input class="formbtn" type="reset" name="reset" value="{$lang.reset}" />            </td>
        </tr>
        </table>
    </form>
</div>
{include file="footer.html"}
